# URL backend API (đổi thành IP máy thật khi chạy trên emulator/device)
EXPO_PUBLIC_API_URL=http://localhost:4000/api/v1

# App config
EXPO_PUBLIC_APP_NAME="Smart MiniMart AI"
EXPO_PUBLIC_DEMO_MODE=true
